@import url("https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 41vw;
    background-image: url("./kat-kelley-oiyOy05v5tE-unsplash.jpg");
    background-size: cover;
}

.logo {
    height: 20vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 64, 122, 0.5);
}

.logo p {
    color: white;
    font-size: 52px;
    font-family: "skranji", sans-serif;
}

.logo img {
    height: 17vh;
}

.credit {
    text-shadow: 1px 1px gray;
    color: azure;
    text-align: center;
    margin-bottom: 8px;
}

.credit a {
    color: azure;
    text-shadow: 1px 1px rgb(75, 74, 74);
}

.form-section {
    width: 59vw;
    background-color: rgba(54, 82, 119, 0.1);
    box-shadow:
        -0.6px 0px 2.5px -10px rgba(0, 0, 0, 0.02),
        -1.3px 0px 6px -10px rgba(0, 0, 0, 0.028),
        -2.5px 0px 11.3px -10px rgba(0, 0, 0, 0.035),
        -4.5px 0px 20.1px -10px rgba(0, 0, 0, 0.042),
        -8.4px 0px 37.6px -10px rgba(0, 0, 0, 0.05),
        -20px 0px 90px -10px rgba(0, 0, 0, 0.07)
;

.description {
    height: 30vh;
    padding-top: 16vh;
}

.description h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    font-size: 52px;
    margin-left: 50px;
    color: rgba(19, 64, 122, 0.8);
    text-shadow: 0.7px 0.7px gray;
}

.form {
    height: 40vh;
    background-color: whitesmoke;
    padding: 16px 350px 16px 72px;
}

.form h2 {
    font-size: 32px;
    color: rgba(1, 15, 32, 0.7);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.input {
    display: flex;
    flex-direction: column;
    width: calc((59vw - 500px) / 2);
}

.input label {
    font-size: 14px;
    color: rgba(1, 15, 32, 0.7);
}

.input input {
    height: 40px;
    font-size: 14px;
    padding: 0 8px;
    border: none;
    border: 0.5px solid lightgrey;
    border-radius: 5px;
}

#last-name-input,
#phone-number-input,
#confirm-password-input {
    margin-left: auto;
}
.submit {
    padding: 30px 72px;
    height: 30vh;
}

.submit button {
    width: 170px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: rgba(19, 64, 122, 0.8);
    color: aliceblue;
    cursor: pointer;
    margin-bottom: 40px;
}

.submit button:hover {
    background-color: rgba(12, 44, 83, 0.8);
}

#account-check {
    font-size: 18px;
    color: rgba(1, 15, 32, 0.7);
}

#account-check a {
    font-weight: 600;
    text-decoration: none;
    color: rgba(19, 64, 122, 0.8);
}

#account-check a:hover {
    color: rgba(12, 44, 83, 0.8);
}
